@font-face {
    font-family: 'Aeonik';
    src: url(Aeonik/NewAeonikTrials/AeonikTRIAL-Regular.otf ) format('opentype');
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    font-family: 'Aeonik', sans-serif;
    
}

footer{
    background-color: rgb(26, 26, 26);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 60px 30px;
}
.footer-top{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-top .footer-heading{
    font-size: 49px;
    font-weight: 700;
    text-align:  center;
    /* line-height: ; */

}
.footer-app-links{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.footer-app-links a{
 text-decoration: none;
}

.divider-line{
    width: 95%;
    height: 1px;
    background-color: rgb(27, 33, 42);
    margin-top: 14px;
    margin-bottom: 28px;
    margin: 20px 0;
    /* text-align: center; */
    align-self: center;

}
.footer-bottom{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
}
.footer-bottom p{
 font-weight:500 ;
 color: rgb(244, 245, 247);
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}
.footer-bottom a{
    text-decoration: none;
    color: rgb(147, 154, 170);
    font-size: 14px;
    
}

.footer-bottom li{
    list-style: none;
   color: rgb(147, 154, 170);
   margin-bottom: 14px;
}
.footer-column.contacts .email{
    text-decoration: none;
   color: rgb(61, 135, 245);
}
.social-icons{
    display: flex;
    gap: 13px;
    
    margin-top: 14px;
}
.social-icons a{
    text-decoration: none;
}
.social-icons svg{
    border:  1px solid #ffffff4e;
    padding: 3px;
    border-radius: 7px;
}



@media (max-width: 991px) {
.footer-app-links img{
    width: 148px;
    height: 43px;
}
.footer-bottom{
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    width: 100%;
}
.footer-bottom .footer-column{
    width: 100%;
}
}
@media screen and (max-width: 767px) {
.footer-bottom{
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    row-gap: 32px;
    column-gap: 16px;
}
}



